/* Estilo para editar usuario */
body {
    font-family: Arial, sans-serif;
    background-color: #f1d8eb;
    margin: 20px;
}

h1 {
    color: #f380c3;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #941273;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #c0329d;
}

a {
    text-decoration: none;
    color: #007BFF;
    display: block;
    margin-top: 10px;
}
